<style>
  .btn-space {
    margin-right: 10px;
  }

  myModal {
    z-index: 2147483647;
  }

  .disabledDiv {
    pointer-events: none;
    opacity: 0.4;
  }
</style>

<!-- Inicializar, mostrar tabela -->
<div ng-init="vm.init()">
  <div
    class="container"
    style="overflow-y: auto; overflow-x: hidden; height: 425px"
  >
    <form>
      <div class="mx-auto" style="width: 200px;">
        <h5 class="modal-title">{{vm.tituloTela}}</h5>
      </div>
      <div class="form-group">
        <label for="nomePerfil">Nome:</label>
        <input 
          type="nome"
          class="form-control"
          id="nomePerfil"
          ng-model="vm.perfil.nome"
          placeholder="Digite o nome do perfil ..."
        >
      </div>
      <div class="form-group">
        <label>Descrição:</label>
        <textarea 
          name="" 
          id="" 
          cols="30"
          rows="3"
          class=form-control
          placeholder="Descrição..."
          ng-model="vm.perfil.descricao"
        ></textarea>
      </div>
      <div class="form-group">
        <label>Data de Inclusão</label>
        <input 
          ng-model="vm.dataInclusao" 
          ng-disabled="true" 
          class="form-control"
          style="width: 120px;"
          ui-mask="99/99/9999">
        </input>
      </div>
      <div class="form-group">
        <label>Data de Alteração</label>
        <input 
          ng-model="vm.dataAlteracao" 
          ng-disabled="true" 
          class="form-control"
          style="width: 120px;"
          ui-mask="99/99/9999">
        </input>
      </div>
    </form>
  </div>
</div>

<!-- Salvar e Cancelar -->
<div
  class="row"
  style="float: right; padding-top: 30px; padding-right: 20px;"
>
  <button
    type="button"
    class="btn btn-primary btn-space"
    ng-click="vm.incluirAlterarPerfil()"
  >
    Salvar
  </button>
  <button 
    type="button" 
    class="btn btn-danger" 
    ng-click="vm.cancelar()"
  >
    Cancelar
  </button>
</div>