<style>
  .btn-space {
    margin-right: 10px;
  }

  myModal {
    z-index: 2147483647;
  }

  .disabledDiv {
    pointer-events: none;
    opacity: 0.4;
  }
</style>

<!-- Inicializar, mostrar tabela -->
<div ng-init="vm.init()">
  <div
    class="container"
    style="overflow-y: auto; overflow-x: hidden; height: 425px"
  >
    <form>

      <!-- Título -->
      <div class="mx-auto" style="width: 200px;">
        <h5 class="modal-title">{{vm.tituloModal}}</h5>
      </div>

      <!-- CEP -->
      <div class="form-group">
        <label for="cepEndereco">CEP:</label>
        <input 
          type="nome"
          class="form-control"
          id="cepEndereco"
          ng-model="vm.enderecoModal.cep"
          ui-mask="99.999-999"
          ng-change="vm.buscarCep()"
        >
      </div>

      <!-- UF -->
      <div class="form-group">
        <label for="ufEndereco">UF:</label>
        <input 
          type="nome"
          class="form-control"
          id="ufEndereco"
          ng-model="vm.enderecoModal.uf"
          ng-disabled="true"
        >
      </div>

      <!-- Localidade -->
      <div class="form-group">
        <label for="localidadeEndereco">Localidade:</label>
        <input 
          type="nome"
          class="form-control"
          id="localidadeEndereco"
          ng-model="vm.enderecoModal.localidade"
          ng-disabled="true"
        >
      </div>

      <!-- Bairro -->
      <div class="form-group">
        <label for="nomeEndereco">Bairro:</label>
        <input 
          type="nome"
          class="form-control"
          id="bairroEndereco"
          ng-model="vm.enderecoModal.bairro"
          ng-disabled="true"
        >
      </div>

      <!-- Logradouro -->
      <div class="form-group">
        <label for="nomeEndereco">Logradouro:</label>
        <input 
          type="nome"
          class="form-control"
          id="logradouroEndereco"
          ng-model="vm.enderecoModal.logradouro"
          ng-disabled="true"
        >
      </div>

      <!-- Complemento -->
      <div class="form-group">
        <label for="complementoEndereco">Complemento:</label>
        <input 
          type="nome"
          class="form-control"
          id="complementoEndereco"
          ng-model="vm.enderecoModal.complemento"
          ng-change="vm.habilitarSalvar()"
        >
      </div>
            
    </form>
  </div>
</div>